* {
  margin: 0;
  padding: 0;
}
.hero-sec {
  background-color: #ffffff;
}
.hero {
  display: flex;
  justify-content: space-between;
  background-color: #fdf2e9;
}
.logo {
  height: 1.5rem;
  margin: 10px 10px 10px 10px;
  padding: 20px 0px 0px 20px;
}
.nav-bar {
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.nav-bar a {
  justify-content: space-between;
  text-decoration: none;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  padding: 10px 40px 0px 10px;
  font-weight: bold;
  font-size: 1.05rem;
}
span {
  color: #c16f26;
  font-weight: bold;
}
button {
  margin: 20px 30px 20px 30px;
  background-color: #e67e22;
  border: #e67e22;
  border-radius: 7px;
  width: 150px;
  height: 40px;
  font-size: medium;
  font-weight: 600;
  color: white;
  margin-right: 50px;
  padding: 10px;
}
.sumdiv h1 {
  font-size: 3.2rem;
  line-height: 1.05;
  margin-bottom: 1.2rem;
  font-weight: 750;
  width: 580px;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 50px 10px 10px 140px;
}
.summary {
  display: flex;
  background-color: #fdf2e9;
  padding-bottom: 60px;
}
.sumdiv p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
  width: 550px;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px 10px 30px 150px;
}
.hero-pic {
  margin-left: 90px;
  margin-top: 50px;
}
.start {
  margin: 0px 10px 10px 140px;
  width: 14rem;
  height: 3.5rem;
  font-size: 20px;
}
.learn {
  background-color: white;
  color: #333;
  width: 10rem;
  height: 3rem;
}
.container {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 20px;
}
.container p {
  letter-spacing: 0.75px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  color: #888;
}
.container img {
  height: 2rem;
  filter: brightness(0);
  opacity: 50%;
  display: inline;
  padding: 0px 20px 20px 20px;
}
.logo {
  display: flex;
  justify-content: center;
}
.one {
  font-size: 4.6rem;
  font-weight: 750;
  color: #ddd;
  padding-top: 80px;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.center {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  display: flex;
  background-color: white;
}
.second {
  margin-left: 12rem;
}
.round {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(240, 210, 184, 0.35),
      rgba(235, 205, 178, 0.427)
    ),
    url("../img/eating.jpg");
  position: absolute;
  margin-left: 62%;
  margin-top: 4%;
  background-size: cover;
  background-position: center;
}
.round-two {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(195, 116, 48, 0.166),
      rgba(211, 152, 100, 0.192)
    ),
    url("../img/eating.jpg");
  position: absolute;
  margin-left: 64%;
  margin-top: 6%;
  background-size: cover;
  background-position: center;
}
.roundo {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(240, 210, 184, 0.35),
      rgba(235, 205, 178, 0.427)
    ),
    url("../img/eating.jpg");
  position: absolute;
  margin-left: 14%;
  margin-top: 4%;
  background-size: cover;
  background-position: center;
}
.round-twoo {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(195, 116, 48, 0.166),
      rgba(211, 152, 100, 0.192)
    ),
    url("../img/eating.jpg");
  position: absolute;
  margin-left: 16.5%;
  margin-top: 6%;
  background-size: cover;
  background-position: center;
}
.meals {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.menu {
  display: grid;
  /* grid-template-rows: 3fr 2fr; */
}
.veg {
  grid-row: 1;
  height: 500px;
  width: 324px;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px;
  margin: 10px;
  margin-left: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.4s;
}
.veg:hover {
  transform: translateY(-1.2rem);
}

.meal-icon {
  height: 1.8rem;
  width: 1.8rem;
  color: #e67e22;
  margin-left: 30px;
}
.meals-one {
  display: flex;
}
li {
  list-style: none;
}
.list-item {
  margin-right: 30%;
}
.vegan {
  grid-row: 1;
  height: 500px;
  width: 324px;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px;
  margin: 10px;
  margin-left: 25%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  border-radius: 10px;
  transition: all 0.4s;
}
.vegan:hover {
  transform: translateY(-1.2rem);
}
.vegans {
  grid-row: 1;
  height: 450px;
  width: 324px;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px;
  margin: 10px;
  margin-right: 50%;
  border-radius: 4px;
}
.paragraphy {
  display: flex;
}
.list-icon {
  height: 1.8rem;
  width: 1.8rem;
  color: #e67e22;
  padding-right: 10px;
}
span {
  color: #333;
  font-weight: 500;
}
ul li {
  display: flex;
  padding: 10px;
}
.recipe {
  background: white;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 6%;
}
.recipe :-webkit-any-link {
  font-size: 20px;
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  color: #e67e22;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.meals-gallery {
  display: grid;
  grid-template-columns: 50% 40%;
  background-color: #fdf2e9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1.test {
  grid-column: 1;
  font-size: 40px;
}
.test {
  grid-column: 1;
  font-size: 10px;
}
.full-gal {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.left {
  padding-left: 103px;
  grid-column: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 3%;
}
.client-1 {
  grid-column: 1;
  width: 200px;
  padding-bottom: 50px;
}
.client-2 {
  grid-column: 2;
  width: 200px;
}
.client-3 {
  width: 200px;
}
.client-4 {
  width: 200px;
}
.right {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding-right: 50px;
  padding-top: 50px;
}
.gallery {
  overflow: hidden;
  width: 240px;
}

.img-1 {
  grid-column: 1;
  width: 160px;
  height: 200px;
}
.img-1 {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.img-1:hover {
  transform: scale(1.1);
}
.img-2 {
  grid-column: 2;
  width: 230px;
  height: 200px;
}
.img-2 {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.img-2:hover {
  transform: scale(1.1);
}
.img-3 {
  grid-column: 3;
  width: 230px;
  height: 200px;
}
.img-3 {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.img-3:hover {
  transform: scale(1.1);
}
.img-4 {
  grid-column: 1;
  width: 230px;
  height: 200px;
}
.img-4 {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.img-4:hover {
  transform: scale(1.1);
}
.img-5 {
  grid-column: 2;
  width: 230px;
  height: 200px;
}
.img-5 {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.img-5:hover {
  transform: scale(1.1);
}
.img-6 {
  grid-column: 3;
  width: 230px;
  height: 200px;
}
.img-6 {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.img-6:hover {
  transform: scale(1.1);
}
.img-7 {
  grid-column: 1;
  width: 230px;
  height: 200px;
}
.img-7 {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.img-7:hover {
  transform: scale(1.1);
}
.img-8 {
  grid-column: 2;
  width: 230px;
  height: 200px;
}
.img-8 {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.img-8:hover {
  transform: scale(1.1);
}
.img-9 {
  grid-column: 3;
  width: 230px;
  height: 200px;
}
.img-9 {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.img-9:hover {
  transform: scale(1.1);
}
.img-10 {
  grid-column: 1;
  width: 230px;
  height: 200px;
}
.img-10 {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.img-10:hover {
  transform: scale(1.1);
}
.img-11 {
  grid-column: 2;
  width: 230px;
  height: 200px;
}
.img-11 {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.img-11:hover {
  transform: scale(1.1);
}
.img-12 {
  grid-column: 3;
  width: 230px;
  height: 200px;
}
.img-12 {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.img-12:hover {
  transform: scale(1.1);
}
.pricing {
  background-color: white;
  /* padding-bottom: 20%; */
}
.cards {
  display: flex;
}
.card-one {
  width: 370px;
  height: 500px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  margin-left: 25%;
  border-radius: 7px;
}
.card-two {
  width: 370px;
  height: 500px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  background-color: #fdf2e9;
  margin-left: 5%;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}
.elements {
  display: flex;
  padding: 100px;
  padding: 100px 200px 200px 200px;
  gap: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.feature-icon {
  color: #e67e22;
  height: 2.2rem;
  width: 2.2rem;
  background-color: #fdf2e9;
  margin-bottom: 2.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 1.8rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.2rem;
  line-height: 1;
}
.user-details {
  width: 155vh;
  height: 70vh;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  display: grid;
  grid-template-columns: 65% 35%;
  justify-content: center;
  margin-left: 250px;
  overflow: hidden;
  margin-bottom: 7%;
  background-size: cover;
  background-position: center;
}
.content {
  grid-column: 1;
}
.profile {
  grid-column: 2;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}
label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5rem;
  margin-left: 2rem;
}
input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0.8rem 2rem 2rem 2rem;
}
select {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0.8rem 2rem 2rem 2rem;
}
.fullname {
  display: flex;
  column-gap: 5rem;
}
.second-row {
  display: flex;
  column-gap: 5rem;
}
.sign {
  background-color: #45260a;
  margin-left: 9%;
  display: inline-block;
  text-align: center;
  width: 18rem;
  margin-bottom: 60px;
}

.footer {
  display: flex;
  margin: 0px 30px 0px 30px;
  padding: 100px 150px 100px 150px;
  display: flex;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.social-links {
  display: flex;
}
.footer-link {
  text-decoration: none;
}
.sec-one {
  width: 300px;
  line-height: 30px;
  height: 200px;
  color: #767676;
  text-decoration: none;
}
.sec-two {
  width: 300px;
  line-height: 30px;
  height: 200px;

  color: #767676;
  text-decoration: none;
}
.sec-three {
  width: 300px;
  line-height: 30px;
  height: 200px;

  color: #767676;
  text-decoration: none;
}
.sec-four {
  width: 300px;
  line-height: 30px;
  height: 200px;

  color: #767676;
  text-decoration: none;
}
.sec-five {
  width: 300px;
  line-height: 30px;
  height: 200px;

  color: #767676;
  padding-bottom: 15px;
}
.sec-five a {
  text-decoration: none;
  color: #767676;
}
.sec-one a {
  text-decoration: none;
  color: #767676;
}
.sec-two a {
  text-decoration: none;
  color: #767676;
}
.sec-three a {
  text-decoration: none;
  color: #767676;
}
.sec-four a {
  text-decoration: none;
  color: #767676;
}
.content form label {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
